{
    "bracketSameLine": true,
    "tabWidth": 4,
    "printWidth": 80,
    "singleQuote": true,
    "trailingComma": "none",
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-jsdoc"]
}
